.errorWindow {
    position: fixed;
    background-color: rgba(46, 46, 46, 1);
    box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 3px 4px rgba(75, 75, 75, 0.25));
    border-radius: 15px;
    border: red solid 3px;
    color: red;
    z-index: 2;
    width: 200px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-family: Helvetica;

    margin-top: 5vh;
}